# Build Folders
bin/
obj/
out/

# Visual Studio / Rider / IDE
.vs/
*.user
*.suo
*.userprefs
*.idea/
*.sln.docstates

# NuGet
*.nupkg
packages/
project.lock.json
*.snupkg

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
